@font-face {
  font-family: "cv-maya";
  src: url("./fonts/cv-maya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.cv-maya {
  font-family: "cv-maya";
}

@font-face {
  font-family: "baloo";
  src: url("./fonts/baloo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.baloo {
  font-family: "baloo";
}

@font-face {
  font-family: "hind";
  src: url("./fonts/hind.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hind {
  font-family: "hind";
}

@font-face {
  font-family: "shreedev_0715";
  src: url("./fonts/shreedev-0715.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.shreedev-0715 {
  font-family: "shreedev_0715";
}

@font-face {
  font-family: "dg-pro-03";
  src: url("./fonts/DG-PRO-03.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dg-pro-03 {
  font-family: "dg-pro-03";
}

@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.poppins {
  font-family: "poppins";
}

@font-face {
  font-family: "sau-97";
  src: url("./fonts/sau-97.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sau-97 {
  font-family: "sau-97";
}

@font-face {
  font-family: "dgcally-10";
  src: url("./fonts/DGCally-10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dgcally-10 {
  font-family: "dgcally-10";
}

@font-face {
  font-family: "khand";
  src: url("./fonts/Khand-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.khand {
  font-family: "khand";
}
